In [21]:
# Importing libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 


# Import datasets
df_features = pd.read_csv("Features data set.csv")
df_sales = pd.read_csv("sales data-set.csv")
df_stores = pd.read_csv("stores data-set.csv")

print(df_features.info())
print(df_sales.info())
print(df_stores.info())

print(df_features.head())
print(df_sales.head())
print(df_stores.head())

# Merge different datasets 
df = pd.merge(df_sales, df_features, how = 'left', on = ['Store','Date','IsHoliday']) # merging sales and features by left since there are more rows for sales 
df_new = pd.merge(df, df_stores, how = 'left', on = 'Store') #merge df and df_stores by left to keep all the columns and rows 

print(df_new.info())
print(df_new.head(10))
print(df_new.tail(10))

# change date format 
df_new['Date'] = pd.to_datetime(df_new['Date'], format = 'mixed')
print(df_new.info())

# check dataset for null values 
print(df_new.isnull().sum())
df_new = df_new.fillna(0)
print(df_new.info())

# check categorical columns
categorical_cols = [col for col in df_new.select_dtypes(include=['object']) if col != 'category']
print("Categocal columns are:")
print(categorical_cols)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB
None
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  Type          421570 non-null  object
 15  Size          421570 non-null  int64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB
None
   Store  Dept        Date  Weekly_Sales  IsHoliday  Temperature  Fuel_Price  \
0      1     1  05/02/2010      24924.50      False        42.31       2.572
1      1     1  12/02/2010      46039.49       True        38.51       2.548
2      1     1  19/02/2010      41595.55      False        39.93       2.514
3      1     1  26/02/2010      19403.54      False        46.63       2.561
4      1     1  05/03/2010      21827.90      False        46.50       2.625
5      1     1  12/03/2010      21043.39      False        57.79       2.667
6      1     1  19/03/2010      22136.64      False        54.58       2.720
7      1     1  26/03/2010      26229.21      False        51.45       2.732
8      1     1  02/04/2010      57258.43      False        62.27       2.719
9      1     1  09/04/2010      42960.91      False        65.86       2.770

   MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5         CPI  \
0        NaN        NaN        NaN        NaN        NaN  211.096358
1        NaN        NaN        NaN        NaN        NaN  211.242170
2        NaN        NaN        NaN        NaN        NaN  211.289143
3        NaN        NaN        NaN        NaN        NaN  211.319643
4        NaN        NaN        NaN        NaN        NaN  211.350143
5        NaN        NaN        NaN        NaN        NaN  211.380643
6        NaN        NaN        NaN        NaN        NaN  211.215635
7        NaN        NaN        NaN        NaN        NaN  211.018042
8        NaN        NaN        NaN        NaN        NaN  210.820450
9        NaN        NaN        NaN        NaN        NaN  210.622857

   Unemployment Type    Size
0         8.106    A  151315
1         8.106    A  151315
2         8.106    A  151315
3         8.106    A  151315
4         8.106    A  151315
5         8.106    A  151315
6         8.106    A  151315
7         8.106    A  151315
8         7.808    A  151315
9         7.808    A  151315
        Store  Dept        Date  Weekly_Sales  IsHoliday  Temperature  \
421560     45    98  24/08/2012        415.40      False        72.62
421561     45    98  31/08/2012        346.04      False        75.09
421562     45    98  07/09/2012        352.44       True        75.70
421563     45    98  14/09/2012        605.96      False        67.87
421564     45    98  21/09/2012        467.30      False        65.32
421565     45    98  28/09/2012        508.37      False        64.88
421566     45    98  05/10/2012        628.10      False        64.89
421567     45    98  12/10/2012       1061.02      False        54.47
421568     45    98  19/10/2012        760.01      False        56.47
421569     45    98  26/10/2012       1076.80      False        58.85

        Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
421560       3.834    7936.20      58.38      22.00    5518.07    2291.97
421561       3.867   23641.30       6.00      92.93    6988.31    3992.13
421562       3.911   11024.45      12.80      52.63    1854.77    2055.70
421563       3.948   11407.95        NaN       4.30    3421.72    5268.92
421564       4.038    8452.20      92.28      63.24    2376.38    8670.40
421565       3.997    4556.61      20.64       1.50    1601.01    3288.25
421566       3.985    5046.74        NaN      18.82    2253.43    2340.01
421567       4.000    1956.28        NaN       7.89     599.32    3990.54
421568       3.969    2004.02        NaN       3.18     437.73    1537.49
421569       3.882    4018.91      58.08     100.00     211.94     858.33

               CPI  Unemployment Type    Size
421560  191.344887         8.684    B  118221
421561  191.461281         8.684    B  118221
421562  191.577676         8.684    B  118221
421563  191.699850         8.684    B  118221
421564  191.856704         8.684    B  118221
421565  192.013558         8.684    B  118221
421566  192.170412         8.667    B  118221
421567  192.327265         8.667    B  118221
421568  192.330854         8.667    B  118221
421569  192.308899         8.667    B  118221
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  Type          421570 non-null  object
 15  Size          421570 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 48.6+ MB
None
Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
Type                 0
Size                 0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     421570 non-null  float64
 8   MarkDown2     421570 non-null  float64
 9   MarkDown3     421570 non-null  float64
 10  MarkDown4     421570 non-null  float64
 11  MarkDown5     421570 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  Type          421570 non-null  object
 15  Size          421570 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 48.6+ MB
None
Categocal columns are:
['Type']